    <main>
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center">
                    <img src="https://1000marcas.net/wp-content/uploads/2020/01/Jurassic-Park-Logo-5.png"
                        style="width: 12%; vertical-align: middle;">
                </a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="/park_incidents/add">
                            Registrar incidente
                            <span class="material-icons" style="vertical-align: middle;">
                                feedback
                            </span>
                        </a>
                    </li>  
                </ul>
            </div>
        </nav>
