<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<h1 style="text-align: center;">Página no encontrada</h1>
<h3 style="text-align: center;">La página a la que quiere acceder no se ecuentra disponible :c</h3>
<h3 style="text-align: center;">Favor de comunicarse con el soporte técnico del parque</h3>
<div style="text-align: center;">
    <img src="https://i.pinimg.com/originals/b6/7c/06/b67c06c57c200e3622f2f0f727aa3ca0.gif">
</div>
<br>
<div style="text-align: center;">
    <a class="waves-effect waves-light btn" href="/park_incidents/list" id="return">Volver</a>
</div>
<br><br>
<%- include('includes/footer.ejs') %>
