<%- include('includes/head.ejs') %>
    <%- include('includes/nav.ejs') %>
    <h3 style="text-align: center;"><%= titulo %></h3>
    <div class="row">
        
    </div>
</main>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>M.AutoInit();</script>
</body>
<%- include('includes/footer.ejs') %>