.page-footer, nav{
    background-color: rgb(53, 63, 63);
}
body{
    font-family: 'Cairo', sans-serif;
}

#button, #enviar, #enviar_ajax{
    color: white;
    background-color: rgb(170, 63, 63);
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#add_place, #add_type, #return{
    background-color: rgb(209, 176, 68);
}

#mostar_tabla{
    background-color: rgb(111, 180, 97);
}

h6{
    background-color: rgb(193, 199, 201);
    width: 15%;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    height: 25px;
    font-weight: bold;
}
