.page-footer, nav{
    background-color: rgb(53, 63, 63);
}
body{
    font-family: 'Cairo', sans-serif;
}

#button, #enviar{
    color: white;
    background-color: rgb(170, 63, 63);
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#drop1, #drop2, #add_place, #add_type{
    background-color: rgb(187, 157, 60);
}
