.page-footer, nav{
    background-color: rgb(53, 63, 63);
}
body{
    font-family: 'Cairo', sans-serif;
}

#button, #enviar, #enviar_ajax{
    color: white;
    background-color: rgb(170, 63, 63);
    text-align: center;
}

label{
    font-size: 20px;
    font-weight: bold;
}

#add_place, #add_type, #return{
    background-color: rgb(187, 157, 60);
}

#mostar_tabla{
    background-color: rgb(111, 180, 97);
}
